.footer {
    vertical-align: middle;
    padding-top: 32px;
    background-color: #9CD7E9;
}

.footer__wave {
    background-image: url("images/wave.jpg");
    width: 100%;
    height: 57px;
    display: block;
}

.footer img {
    vertical-align: middle;
}

.footer ul{
    float: right;
}

.footer ul li{
    display: inline;
    text-align: right;

}

.footer ul li a{
    margin: 0 5px;
    text-align: right;
    color: #335E7D;
    font-size: 14px;
    font-family: "FuturaStd-Book";
    font-weight: lighter;
    line-height: 24px;
    text-decoration: none;
}

.footer--links {
    padding-bottom: 72px;
}