* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #7A7A7A;
  background-color: white; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.banner {
  background-color: #887ADA;
  color: white;
  padding: 0;
  overflow: hidden; }
  .banner--text {
    width: 436px;
    padding-top: 68px; }
  .banner--title {
    font-size: 45px;
    font-weight: lighter;
    line-height: 54px;
    margin-bottom: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6); }
  .banner--p {
    font-size: 18px;
    margin-bottom: 48px;
    font-weight: lighter;
    line-height: 30px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner--title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 24px; } }

@media screen and (max-width: 767px) {
  .banner--title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 24px; } }

.bg--white {
  background-color: #FFFFFF; }

.bg--gray {
  background-color: #474747; }

.bg--gray-lighter {
  background-color: #999999; }

.bg--gray-lightest {
  background-color: #F5F5F5; }

.bg--blue-light {
  background-color: #8FD7F5; }

.bg--blue-lighter {
  background-color: #EBF7FC; }

.bg--purple-lighter {
  background-color: #F1F0F5; }

.bg--purple-light {
  background-color: #887ADA; }

.btn {
  border-radius: 50px;
  border: 1px solid #000;
  padding: 4.5px 32px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
  text-align: center; }
  .btn--square {
    border-radius: 4px; }
  .btn--colored {
    background-color: #3CB7EB;
    border-color: #3CB7EB;
    color: white; }
    .btn--colored:hover {
      background-color: #335E7D;
      border-color: #335E7D;
      color: white; }
  .btn--white {
    background-color: white;
    border-color: #3CB7EB;
    color: #3CB7EB; }
    .btn--white:hover {
      background-color: #3CB7EB;
      border-color: #3CB7EB;
      color: white; }
  .btn--transparent {
    background-color: transparent;
    border-color: white;
    color: white; }
    .btn--transparent:hover {
      background-color: white;
      border-color: white;
      color: #695AC0; }
  .btn--purple {
    background-color: #695AC0;
    border-color: white;
    color: white; }
    .btn--purple:hover {
      background-color: transparent;
      border-color: #695AC0;
      color: #695AC0; }
  .btn--medium {
    font-size: 16px;
    padding: 8px 39px; }
  .btn--large {
    padding: 13px 46px;
    font-size: 24px;
    font-weight: 300; }
  .btn--block {
    display: block; }

.card {
  width: 100%;
  max-width: 358px;
  min-height: 415px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .card__image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 197px; }
  .card__footer {
    font-size: 14px;
    color: #999999;
    margin-top: auto; }

.circle--icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #F1F0F5;
  background-color: white;
  position: relative; }
  .circle--icon:hover {
    transition: transform .3s ease-out;
    transform: scale(1.15); }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }
  @media screen and (max-width: 991px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1220px;
      padding-right: 48px;
      padding-left: 48px;
      width: auto; } }

.footer {
  font-size: 14px; }
  .footer__list {
    display: inline-block;
    vertical-align: sub; }
  .footer__list-item {
    display: inline; }
  .footer__link {
    font-size: inherit;
    font-weight: 200;
    margin: 0 10px; }
    .footer__link, .footer__link:link, .footer__link:visited {
      color: #fff;
      text-decoration: none; }
    .footer__link:active, .footer__link:focus {
      color: #fff; }
    .footer__link:hover {
      color: #887ADA; }

@media screen and (max-width: 767px) {
  .footer__list, .footer__list-item {
    display: block; } }

.form {
  max-width: 700px;
  margin: 0 auto 120px; }

.grid {
  margin-left: -32px; }

.grid__col {
  padding-left: 32px;
  display: inline-block;
  vertical-align: top; }

.grid.grid--large {
  margin-left: -64px; }

.grid.grid--large > .grid__col {
  padding-left: 64px; }

.grid__col--4 {
  width: 33.33333%; }

.grid__col--6 {
  width: 50%; }

.grid__col--8 {
  width: 66.66667%; }

.grid__col--12 {
  width: 100%; }

.grid.grid--middle > .grid__col {
  vertical-align: middle; }

.grid.grid--bottom > .grid__col {
  vertical-align: bottom; }

@media screen and (max-width: 767px) {
  .xs\/grid__col--4 {
    width: 33.33333%; }
  .xs\/grid__col--6 {
    width: 50%; }
  .xs\/grid__col--8 {
    width: 66.66667%; }
  .xs\/grid__col--12 {
    width: 100%; }
  .grid.xs\/grid--middle > .grid__col {
    vertical-align: middle; }
  .grid.xs\/grid--bottom > .grid__col {
    vertical-align: bottom; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/grid__col--4 {
    width: 33.33333%; }
  .sm\/grid__col--6 {
    width: 50%; }
  .sm\/grid__col--8 {
    width: 66.66667%; }
  .sm\/grid__col--12 {
    width: 100%; }
  .grid.sm\/grid--middle > .grid__col {
    vertical-align: middle; }
  .grid.sm\/grid--bottom > .grid__col {
    vertical-align: bottom; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/grid__col--4 {
    width: 33.33333%; }
  .md\/grid__col--6 {
    width: 50%; }
  .md\/grid__col--8 {
    width: 66.66667%; }
  .md\/grid__col--12 {
    width: 100%; }
  .grid.md\/grid--middle > .grid__col {
    vertical-align: middle; }
  .grid.md\/grid--bottom > .grid__col {
    vertical-align: bottom; } }

@media screen and (min-width: 1200px) {
  .lg\/grid__col--4 {
    width: 33.33333%; }
  .lg\/grid__col--6 {
    width: 50%; }
  .lg\/grid__col--8 {
    width: 66.66667%; }
  .lg\/grid__col--12 {
    width: 100%; }
  .grid.lg\/grid--middle > .grid__col {
    vertical-align: middle; }
  .grid.lg\/grid--bottom > .grid__col {
    vertical-align: bottom; } }

.icon--medium {
  width: 36px;
  height: 36px; }

.icon--small {
  width: 24px;
  height: 24px; }

.icon--xsmall {
  width: 16px;
  height: 16px; }

.icon--spaced {
  margin: 22px; }

.icon--purple {
  fill: #695AC0; }

.icon--blue {
  fill: #3CB7EB; }

.icon--blue-lighter {
  fill: #ccebf7; }

.icon--gray-lighter {
  fill: #999999; }

@media screen and (max-width: 767px) {
  .xs\/icon--purple {
    fill: #695AC0; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/icon--purple {
    fill: #695AC0; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/icon--purple {
    fill: #695AC0; } }

@media screen and (min-width: 1200px) {
  .lg\/icon--purple {
    fill: #695AC0; } }

.input {
  position: relative; }
  .input > .input__field {
    font-size: 16px;
    line-height: 1.5;
    color: #695AC0;
    padding: 16px 16px 16px 55px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    width: 100%; }
  .input > textarea.input__field {
    resize: none; }
  .input > .input__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px; }
  .input ::-webkit-input-placeholder {
    color: inherit; }
  .input :-ms-input-placeholder {
    color: inherit; }
  .input ::-moz-placeholder {
    color: inherit; }
  .input :-moz-placeholder {
    color: inherit; }

.link {
  font-size: inherit;
  font-weight: 200; }
  .link, .link:link, .link:visited {
    text-decoration: none; }
  .link:active, .link:focus {
    color: inherit; }
  .link.hover--purple-light:hover {
    color: #887ADA; }
  .link.hover--blue:hover {
    color: #3CB7EB; }

.list--inline {
  display: block; }
  .list--inline > li {
    display: inline-block; }

.logo {
  width: 135px;
  height: 29px;
  vertical-align: middle; }
  .logo--purple-light {
    fill: #887ADA; }
  .logo--white {
    fill: #FFFFFF; }

.menu__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.menu__drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto; }

.menu__drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  padding-top: 100px;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.menu__drawer--left {
  left: 0;
  z-index: 1; }

.menu__drawer--right {
  right: 0;
  z-index: 1; }

.menu__divider {
  height: 1px;
  width: 100%;
  background-color: #e1e1e1; }

.snapjs-left .menu__drawer--right {
  display: none; }

.snapjs-expand-right .menu__drawer--right {
  width: 100%; }

.m {
  margin: 16px; }

.mt {
  margin-top: 16px; }

.mr {
  margin-right: 16px; }

.mb {
  margin-bottom: 16px; }

.ml {
  margin-left: 16px; }

.mh {
  margin-right: 16px;
  margin-left: 16px; }

.mv {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-- {
  margin: 4px; }

.mt-- {
  margin-top: 4px; }

.mr-- {
  margin-right: 4px; }

.mb-- {
  margin-bottom: 4px; }

.ml-- {
  margin-left: 4px; }

.mh-- {
  margin-right: 4px;
  margin-left: 4px; }

.mv-- {
  margin-top: 4px;
  margin-bottom: 4px; }

.m- {
  margin: 8px; }

.mt- {
  margin-top: 8px; }

.mr- {
  margin-right: 8px; }

.mb- {
  margin-bottom: 8px; }

.ml- {
  margin-left: 8px; }

.mh- {
  margin-right: 8px;
  margin-left: 8px; }

.mv- {
  margin-top: 8px;
  margin-bottom: 8px; }

.m\+ {
  margin: 32px; }

.mt\+ {
  margin-top: 32px; }

.mr\+ {
  margin-right: 32px; }

.mb\+ {
  margin-bottom: 32px; }

.ml\+ {
  margin-left: 32px; }

.mh\+ {
  margin-right: 32px;
  margin-left: 32px; }

.mv\+ {
  margin-top: 32px;
  margin-bottom: 32px; }

.m\+\+ {
  margin: 48px; }

.mt\+\+ {
  margin-top: 48px; }

.mr\+\+ {
  margin-right: 48px; }

.mb\+\+ {
  margin-bottom: 48px; }

.ml\+\+ {
  margin-left: 48px; }

.mh\+\+ {
  margin-right: 48px;
  margin-left: 48px; }

.mv\+\+ {
  margin-top: 48px;
  margin-bottom: 48px; }

.m\+\+\+ {
  margin: 64px; }

.mt\+\+\+ {
  margin-top: 64px; }

.mr\+\+\+ {
  margin-right: 64px; }

.mb\+\+\+ {
  margin-bottom: 64px; }

.ml\+\+\+ {
  margin-left: 64px; }

.mh\+\+\+ {
  margin-right: 64px;
  margin-left: 64px; }

.mv\+\+\+ {
  margin-top: 64px;
  margin-bottom: 64px; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.mh0 {
  margin-right: 0;
  margin-left: 0; }

.mv0 {
  margin-top: 0;
  margin-bottom: 0; }

.ma {
  margin: auto; }

.mta {
  margin-top: auto; }

.mra {
  margin-right: auto; }

.mba {
  margin-bottom: auto; }

.mla {
  margin-left: auto; }

.mha {
  margin-right: auto;
  margin-left: auto; }

.mva {
  margin-top: auto;
  margin-bottom: auto; }

.p {
  padding: 16px; }

.pt {
  padding-top: 16px; }

.pr {
  padding-right: 16px; }

.pb {
  padding-bottom: 16px; }

.pl {
  padding-left: 16px; }

.ph {
  padding-right: 16px;
  padding-left: 16px; }

.pv {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-- {
  padding: 4px; }

.pt-- {
  padding-top: 4px; }

.pr-- {
  padding-right: 4px; }

.pb-- {
  padding-bottom: 4px; }

.pl-- {
  padding-left: 4px; }

.ph-- {
  padding-right: 4px;
  padding-left: 4px; }

.pv-- {
  padding-top: 4px;
  padding-bottom: 4px; }

.p- {
  padding: 8px; }

.pt- {
  padding-top: 8px; }

.pr- {
  padding-right: 8px; }

.pb- {
  padding-bottom: 8px; }

.pl- {
  padding-left: 8px; }

.ph- {
  padding-right: 8px;
  padding-left: 8px; }

.pv- {
  padding-top: 8px;
  padding-bottom: 8px; }

.p\+ {
  padding: 32px; }

.pt\+ {
  padding-top: 32px; }

.pr\+ {
  padding-right: 32px; }

.pb\+ {
  padding-bottom: 32px; }

.pl\+ {
  padding-left: 32px; }

.ph\+ {
  padding-right: 32px;
  padding-left: 32px; }

.pv\+ {
  padding-top: 32px;
  padding-bottom: 32px; }

.p\+\+ {
  padding: 48px; }

.pt\+\+ {
  padding-top: 48px; }

.pr\+\+ {
  padding-right: 48px; }

.pb\+\+ {
  padding-bottom: 48px; }

.pl\+\+ {
  padding-left: 48px; }

.ph\+\+ {
  padding-right: 48px;
  padding-left: 48px; }

.pv\+\+ {
  padding-top: 48px;
  padding-bottom: 48px; }

.p\+\+\+ {
  padding: 64px; }

.pt\+\+\+ {
  padding-top: 64px; }

.pr\+\+\+ {
  padding-right: 64px; }

.pb\+\+\+ {
  padding-bottom: 64px; }

.pl\+\+\+ {
  padding-left: 64px; }

.ph\+\+\+ {
  padding-right: 64px;
  padding-left: 64px; }

.pv\+\+\+ {
  padding-top: 64px;
  padding-bottom: 64px; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.ph0 {
  padding-right: 0;
  padding-left: 0; }

.pv0 {
  padding-top: 0;
  padding-bottom: 0; }

@media screen and (max-width: 767px) {
  .xs\/m {
    margin: 16px; }
  .xs\/mt {
    margin-top: 16px; }
  .xs\/mr {
    margin-right: 16px; }
  .xs\/mb {
    margin-bottom: 16px; }
  .xs\/ml {
    margin-left: 16px; }
  .xs\/mh {
    margin-right: 16px;
    margin-left: 16px; }
  .xs\/mv {
    margin-top: 16px;
    margin-bottom: 16px; }
  .xs\/m-- {
    margin: 4px; }
  .xs\/mt-- {
    margin-top: 4px; }
  .xs\/mr-- {
    margin-right: 4px; }
  .xs\/mb-- {
    margin-bottom: 4px; }
  .xs\/ml-- {
    margin-left: 4px; }
  .xs\/mh-- {
    margin-right: 4px;
    margin-left: 4px; }
  .xs\/mv-- {
    margin-top: 4px;
    margin-bottom: 4px; }
  .xs\/m- {
    margin: 8px; }
  .xs\/mt- {
    margin-top: 8px; }
  .xs\/mr- {
    margin-right: 8px; }
  .xs\/mb- {
    margin-bottom: 8px; }
  .xs\/ml- {
    margin-left: 8px; }
  .xs\/mh- {
    margin-right: 8px;
    margin-left: 8px; }
  .xs\/mv- {
    margin-top: 8px;
    margin-bottom: 8px; }
  .xs\/m\+ {
    margin: 32px; }
  .xs\/mt\+ {
    margin-top: 32px; }
  .xs\/mr\+ {
    margin-right: 32px; }
  .xs\/mb\+ {
    margin-bottom: 32px; }
  .xs\/ml\+ {
    margin-left: 32px; }
  .xs\/mh\+ {
    margin-right: 32px;
    margin-left: 32px; }
  .xs\/mv\+ {
    margin-top: 32px;
    margin-bottom: 32px; }
  .xs\/m\+\+ {
    margin: 48px; }
  .xs\/mt\+\+ {
    margin-top: 48px; }
  .xs\/mr\+\+ {
    margin-right: 48px; }
  .xs\/mb\+\+ {
    margin-bottom: 48px; }
  .xs\/ml\+\+ {
    margin-left: 48px; }
  .xs\/mh\+\+ {
    margin-right: 48px;
    margin-left: 48px; }
  .xs\/mv\+\+ {
    margin-top: 48px;
    margin-bottom: 48px; }
  .xs\/m\+\+\+ {
    margin: 64px; }
  .xs\/mt\+\+\+ {
    margin-top: 64px; }
  .xs\/mr\+\+\+ {
    margin-right: 64px; }
  .xs\/mb\+\+\+ {
    margin-bottom: 64px; }
  .xs\/ml\+\+\+ {
    margin-left: 64px; }
  .xs\/mh\+\+\+ {
    margin-right: 64px;
    margin-left: 64px; }
  .xs\/mv\+\+\+ {
    margin-top: 64px;
    margin-bottom: 64px; }
  .xs\/m0 {
    margin: 0; }
  .xs\/mt0 {
    margin-top: 0; }
  .xs\/mr0 {
    margin-right: 0; }
  .xs\/mb0 {
    margin-bottom: 0; }
  .xs\/ml0 {
    margin-left: 0; }
  .xs\/mh0 {
    margin-right: 0;
    margin-left: 0; }
  .xs\/mv0 {
    margin-top: 0;
    margin-bottom: 0; }
  .xs\/ma {
    margin: auto; }
  .xs\/mta {
    margin-top: auto; }
  .xs\/mra {
    margin-right: auto; }
  .xs\/mba {
    margin-bottom: auto; }
  .xs\/mla {
    margin-left: auto; }
  .xs\/mha {
    margin-right: auto;
    margin-left: auto; }
  .xs\/mva {
    margin-top: auto;
    margin-bottom: auto; }
  .xs\/p {
    padding: 16px; }
  .xs\/pt {
    padding-top: 16px; }
  .xs\/pr {
    padding-right: 16px; }
  .xs\/pb {
    padding-bottom: 16px; }
  .xs\/pl {
    padding-left: 16px; }
  .xs\/ph {
    padding-right: 16px;
    padding-left: 16px; }
  .xs\/pv {
    padding-top: 16px;
    padding-bottom: 16px; }
  .xs\/p-- {
    padding: 4px; }
  .xs\/pt-- {
    padding-top: 4px; }
  .xs\/pr-- {
    padding-right: 4px; }
  .xs\/pb-- {
    padding-bottom: 4px; }
  .xs\/pl-- {
    padding-left: 4px; }
  .xs\/ph-- {
    padding-right: 4px;
    padding-left: 4px; }
  .xs\/pv-- {
    padding-top: 4px;
    padding-bottom: 4px; }
  .xs\/p- {
    padding: 8px; }
  .xs\/pt- {
    padding-top: 8px; }
  .xs\/pr- {
    padding-right: 8px; }
  .xs\/pb- {
    padding-bottom: 8px; }
  .xs\/pl- {
    padding-left: 8px; }
  .xs\/ph- {
    padding-right: 8px;
    padding-left: 8px; }
  .xs\/pv- {
    padding-top: 8px;
    padding-bottom: 8px; }
  .xs\/p\+ {
    padding: 32px; }
  .xs\/pt\+ {
    padding-top: 32px; }
  .xs\/pr\+ {
    padding-right: 32px; }
  .xs\/pb\+ {
    padding-bottom: 32px; }
  .xs\/pl\+ {
    padding-left: 32px; }
  .xs\/ph\+ {
    padding-right: 32px;
    padding-left: 32px; }
  .xs\/pv\+ {
    padding-top: 32px;
    padding-bottom: 32px; }
  .xs\/p\+\+ {
    padding: 48px; }
  .xs\/pt\+\+ {
    padding-top: 48px; }
  .xs\/pr\+\+ {
    padding-right: 48px; }
  .xs\/pb\+\+ {
    padding-bottom: 48px; }
  .xs\/pl\+\+ {
    padding-left: 48px; }
  .xs\/ph\+\+ {
    padding-right: 48px;
    padding-left: 48px; }
  .xs\/pv\+\+ {
    padding-top: 48px;
    padding-bottom: 48px; }
  .xs\/p\+\+\+ {
    padding: 64px; }
  .xs\/pt\+\+\+ {
    padding-top: 64px; }
  .xs\/pr\+\+\+ {
    padding-right: 64px; }
  .xs\/pb\+\+\+ {
    padding-bottom: 64px; }
  .xs\/pl\+\+\+ {
    padding-left: 64px; }
  .xs\/ph\+\+\+ {
    padding-right: 64px;
    padding-left: 64px; }
  .xs\/pv\+\+\+ {
    padding-top: 64px;
    padding-bottom: 64px; }
  .xs\/p0 {
    padding: 0; }
  .xs\/pt0 {
    padding-top: 0; }
  .xs\/pr0 {
    padding-right: 0; }
  .xs\/pb0 {
    padding-bottom: 0; }
  .xs\/pl0 {
    padding-left: 0; }
  .xs\/ph0 {
    padding-right: 0;
    padding-left: 0; }
  .xs\/pv0 {
    padding-top: 0;
    padding-bottom: 0; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/m {
    margin: 16px; }
  .sm\/mt {
    margin-top: 16px; }
  .sm\/mr {
    margin-right: 16px; }
  .sm\/mb {
    margin-bottom: 16px; }
  .sm\/ml {
    margin-left: 16px; }
  .sm\/mh {
    margin-right: 16px;
    margin-left: 16px; }
  .sm\/mv {
    margin-top: 16px;
    margin-bottom: 16px; }
  .sm\/m-- {
    margin: 4px; }
  .sm\/mt-- {
    margin-top: 4px; }
  .sm\/mr-- {
    margin-right: 4px; }
  .sm\/mb-- {
    margin-bottom: 4px; }
  .sm\/ml-- {
    margin-left: 4px; }
  .sm\/mh-- {
    margin-right: 4px;
    margin-left: 4px; }
  .sm\/mv-- {
    margin-top: 4px;
    margin-bottom: 4px; }
  .sm\/m- {
    margin: 8px; }
  .sm\/mt- {
    margin-top: 8px; }
  .sm\/mr- {
    margin-right: 8px; }
  .sm\/mb- {
    margin-bottom: 8px; }
  .sm\/ml- {
    margin-left: 8px; }
  .sm\/mh- {
    margin-right: 8px;
    margin-left: 8px; }
  .sm\/mv- {
    margin-top: 8px;
    margin-bottom: 8px; }
  .sm\/m\+ {
    margin: 32px; }
  .sm\/mt\+ {
    margin-top: 32px; }
  .sm\/mr\+ {
    margin-right: 32px; }
  .sm\/mb\+ {
    margin-bottom: 32px; }
  .sm\/ml\+ {
    margin-left: 32px; }
  .sm\/mh\+ {
    margin-right: 32px;
    margin-left: 32px; }
  .sm\/mv\+ {
    margin-top: 32px;
    margin-bottom: 32px; }
  .sm\/m\+\+ {
    margin: 48px; }
  .sm\/mt\+\+ {
    margin-top: 48px; }
  .sm\/mr\+\+ {
    margin-right: 48px; }
  .sm\/mb\+\+ {
    margin-bottom: 48px; }
  .sm\/ml\+\+ {
    margin-left: 48px; }
  .sm\/mh\+\+ {
    margin-right: 48px;
    margin-left: 48px; }
  .sm\/mv\+\+ {
    margin-top: 48px;
    margin-bottom: 48px; }
  .sm\/m\+\+\+ {
    margin: 64px; }
  .sm\/mt\+\+\+ {
    margin-top: 64px; }
  .sm\/mr\+\+\+ {
    margin-right: 64px; }
  .sm\/mb\+\+\+ {
    margin-bottom: 64px; }
  .sm\/ml\+\+\+ {
    margin-left: 64px; }
  .sm\/mh\+\+\+ {
    margin-right: 64px;
    margin-left: 64px; }
  .sm\/mv\+\+\+ {
    margin-top: 64px;
    margin-bottom: 64px; }
  .sm\/m0 {
    margin: 0; }
  .sm\/mt0 {
    margin-top: 0; }
  .sm\/mr0 {
    margin-right: 0; }
  .sm\/mb0 {
    margin-bottom: 0; }
  .sm\/ml0 {
    margin-left: 0; }
  .sm\/mh0 {
    margin-right: 0;
    margin-left: 0; }
  .sm\/mv0 {
    margin-top: 0;
    margin-bottom: 0; }
  .sm\/ma {
    margin: auto; }
  .sm\/mta {
    margin-top: auto; }
  .sm\/mra {
    margin-right: auto; }
  .sm\/mba {
    margin-bottom: auto; }
  .sm\/mla {
    margin-left: auto; }
  .sm\/mha {
    margin-right: auto;
    margin-left: auto; }
  .sm\/mva {
    margin-top: auto;
    margin-bottom: auto; }
  .sm\/p {
    padding: 16px; }
  .sm\/pt {
    padding-top: 16px; }
  .sm\/pr {
    padding-right: 16px; }
  .sm\/pb {
    padding-bottom: 16px; }
  .sm\/pl {
    padding-left: 16px; }
  .sm\/ph {
    padding-right: 16px;
    padding-left: 16px; }
  .sm\/pv {
    padding-top: 16px;
    padding-bottom: 16px; }
  .sm\/p-- {
    padding: 4px; }
  .sm\/pt-- {
    padding-top: 4px; }
  .sm\/pr-- {
    padding-right: 4px; }
  .sm\/pb-- {
    padding-bottom: 4px; }
  .sm\/pl-- {
    padding-left: 4px; }
  .sm\/ph-- {
    padding-right: 4px;
    padding-left: 4px; }
  .sm\/pv-- {
    padding-top: 4px;
    padding-bottom: 4px; }
  .sm\/p- {
    padding: 8px; }
  .sm\/pt- {
    padding-top: 8px; }
  .sm\/pr- {
    padding-right: 8px; }
  .sm\/pb- {
    padding-bottom: 8px; }
  .sm\/pl- {
    padding-left: 8px; }
  .sm\/ph- {
    padding-right: 8px;
    padding-left: 8px; }
  .sm\/pv- {
    padding-top: 8px;
    padding-bottom: 8px; }
  .sm\/p\+ {
    padding: 32px; }
  .sm\/pt\+ {
    padding-top: 32px; }
  .sm\/pr\+ {
    padding-right: 32px; }
  .sm\/pb\+ {
    padding-bottom: 32px; }
  .sm\/pl\+ {
    padding-left: 32px; }
  .sm\/ph\+ {
    padding-right: 32px;
    padding-left: 32px; }
  .sm\/pv\+ {
    padding-top: 32px;
    padding-bottom: 32px; }
  .sm\/p\+\+ {
    padding: 48px; }
  .sm\/pt\+\+ {
    padding-top: 48px; }
  .sm\/pr\+\+ {
    padding-right: 48px; }
  .sm\/pb\+\+ {
    padding-bottom: 48px; }
  .sm\/pl\+\+ {
    padding-left: 48px; }
  .sm\/ph\+\+ {
    padding-right: 48px;
    padding-left: 48px; }
  .sm\/pv\+\+ {
    padding-top: 48px;
    padding-bottom: 48px; }
  .sm\/p\+\+\+ {
    padding: 64px; }
  .sm\/pt\+\+\+ {
    padding-top: 64px; }
  .sm\/pr\+\+\+ {
    padding-right: 64px; }
  .sm\/pb\+\+\+ {
    padding-bottom: 64px; }
  .sm\/pl\+\+\+ {
    padding-left: 64px; }
  .sm\/ph\+\+\+ {
    padding-right: 64px;
    padding-left: 64px; }
  .sm\/pv\+\+\+ {
    padding-top: 64px;
    padding-bottom: 64px; }
  .sm\/p0 {
    padding: 0; }
  .sm\/pt0 {
    padding-top: 0; }
  .sm\/pr0 {
    padding-right: 0; }
  .sm\/pb0 {
    padding-bottom: 0; }
  .sm\/pl0 {
    padding-left: 0; }
  .sm\/ph0 {
    padding-right: 0;
    padding-left: 0; }
  .sm\/pv0 {
    padding-top: 0;
    padding-bottom: 0; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/m {
    margin: 16px; }
  .md\/mt {
    margin-top: 16px; }
  .md\/mr {
    margin-right: 16px; }
  .md\/mb {
    margin-bottom: 16px; }
  .md\/ml {
    margin-left: 16px; }
  .md\/mh {
    margin-right: 16px;
    margin-left: 16px; }
  .md\/mv {
    margin-top: 16px;
    margin-bottom: 16px; }
  .md\/m-- {
    margin: 4px; }
  .md\/mt-- {
    margin-top: 4px; }
  .md\/mr-- {
    margin-right: 4px; }
  .md\/mb-- {
    margin-bottom: 4px; }
  .md\/ml-- {
    margin-left: 4px; }
  .md\/mh-- {
    margin-right: 4px;
    margin-left: 4px; }
  .md\/mv-- {
    margin-top: 4px;
    margin-bottom: 4px; }
  .md\/m- {
    margin: 8px; }
  .md\/mt- {
    margin-top: 8px; }
  .md\/mr- {
    margin-right: 8px; }
  .md\/mb- {
    margin-bottom: 8px; }
  .md\/ml- {
    margin-left: 8px; }
  .md\/mh- {
    margin-right: 8px;
    margin-left: 8px; }
  .md\/mv- {
    margin-top: 8px;
    margin-bottom: 8px; }
  .md\/m\+ {
    margin: 32px; }
  .md\/mt\+ {
    margin-top: 32px; }
  .md\/mr\+ {
    margin-right: 32px; }
  .md\/mb\+ {
    margin-bottom: 32px; }
  .md\/ml\+ {
    margin-left: 32px; }
  .md\/mh\+ {
    margin-right: 32px;
    margin-left: 32px; }
  .md\/mv\+ {
    margin-top: 32px;
    margin-bottom: 32px; }
  .md\/m\+\+ {
    margin: 48px; }
  .md\/mt\+\+ {
    margin-top: 48px; }
  .md\/mr\+\+ {
    margin-right: 48px; }
  .md\/mb\+\+ {
    margin-bottom: 48px; }
  .md\/ml\+\+ {
    margin-left: 48px; }
  .md\/mh\+\+ {
    margin-right: 48px;
    margin-left: 48px; }
  .md\/mv\+\+ {
    margin-top: 48px;
    margin-bottom: 48px; }
  .md\/m\+\+\+ {
    margin: 64px; }
  .md\/mt\+\+\+ {
    margin-top: 64px; }
  .md\/mr\+\+\+ {
    margin-right: 64px; }
  .md\/mb\+\+\+ {
    margin-bottom: 64px; }
  .md\/ml\+\+\+ {
    margin-left: 64px; }
  .md\/mh\+\+\+ {
    margin-right: 64px;
    margin-left: 64px; }
  .md\/mv\+\+\+ {
    margin-top: 64px;
    margin-bottom: 64px; }
  .md\/m0 {
    margin: 0; }
  .md\/mt0 {
    margin-top: 0; }
  .md\/mr0 {
    margin-right: 0; }
  .md\/mb0 {
    margin-bottom: 0; }
  .md\/ml0 {
    margin-left: 0; }
  .md\/mh0 {
    margin-right: 0;
    margin-left: 0; }
  .md\/mv0 {
    margin-top: 0;
    margin-bottom: 0; }
  .md\/ma {
    margin: auto; }
  .md\/mta {
    margin-top: auto; }
  .md\/mra {
    margin-right: auto; }
  .md\/mba {
    margin-bottom: auto; }
  .md\/mla {
    margin-left: auto; }
  .md\/mha {
    margin-right: auto;
    margin-left: auto; }
  .md\/mva {
    margin-top: auto;
    margin-bottom: auto; }
  .md\/p {
    padding: 16px; }
  .md\/pt {
    padding-top: 16px; }
  .md\/pr {
    padding-right: 16px; }
  .md\/pb {
    padding-bottom: 16px; }
  .md\/pl {
    padding-left: 16px; }
  .md\/ph {
    padding-right: 16px;
    padding-left: 16px; }
  .md\/pv {
    padding-top: 16px;
    padding-bottom: 16px; }
  .md\/p-- {
    padding: 4px; }
  .md\/pt-- {
    padding-top: 4px; }
  .md\/pr-- {
    padding-right: 4px; }
  .md\/pb-- {
    padding-bottom: 4px; }
  .md\/pl-- {
    padding-left: 4px; }
  .md\/ph-- {
    padding-right: 4px;
    padding-left: 4px; }
  .md\/pv-- {
    padding-top: 4px;
    padding-bottom: 4px; }
  .md\/p- {
    padding: 8px; }
  .md\/pt- {
    padding-top: 8px; }
  .md\/pr- {
    padding-right: 8px; }
  .md\/pb- {
    padding-bottom: 8px; }
  .md\/pl- {
    padding-left: 8px; }
  .md\/ph- {
    padding-right: 8px;
    padding-left: 8px; }
  .md\/pv- {
    padding-top: 8px;
    padding-bottom: 8px; }
  .md\/p\+ {
    padding: 32px; }
  .md\/pt\+ {
    padding-top: 32px; }
  .md\/pr\+ {
    padding-right: 32px; }
  .md\/pb\+ {
    padding-bottom: 32px; }
  .md\/pl\+ {
    padding-left: 32px; }
  .md\/ph\+ {
    padding-right: 32px;
    padding-left: 32px; }
  .md\/pv\+ {
    padding-top: 32px;
    padding-bottom: 32px; }
  .md\/p\+\+ {
    padding: 48px; }
  .md\/pt\+\+ {
    padding-top: 48px; }
  .md\/pr\+\+ {
    padding-right: 48px; }
  .md\/pb\+\+ {
    padding-bottom: 48px; }
  .md\/pl\+\+ {
    padding-left: 48px; }
  .md\/ph\+\+ {
    padding-right: 48px;
    padding-left: 48px; }
  .md\/pv\+\+ {
    padding-top: 48px;
    padding-bottom: 48px; }
  .md\/p\+\+\+ {
    padding: 64px; }
  .md\/pt\+\+\+ {
    padding-top: 64px; }
  .md\/pr\+\+\+ {
    padding-right: 64px; }
  .md\/pb\+\+\+ {
    padding-bottom: 64px; }
  .md\/pl\+\+\+ {
    padding-left: 64px; }
  .md\/ph\+\+\+ {
    padding-right: 64px;
    padding-left: 64px; }
  .md\/pv\+\+\+ {
    padding-top: 64px;
    padding-bottom: 64px; }
  .md\/p0 {
    padding: 0; }
  .md\/pt0 {
    padding-top: 0; }
  .md\/pr0 {
    padding-right: 0; }
  .md\/pb0 {
    padding-bottom: 0; }
  .md\/pl0 {
    padding-left: 0; }
  .md\/ph0 {
    padding-right: 0;
    padding-left: 0; }
  .md\/pv0 {
    padding-top: 0;
    padding-bottom: 0; } }

@media screen and (min-width: 1200px) {
  .lg\/m {
    margin: 16px; }
  .lg\/mt {
    margin-top: 16px; }
  .lg\/mr {
    margin-right: 16px; }
  .lg\/mb {
    margin-bottom: 16px; }
  .lg\/ml {
    margin-left: 16px; }
  .lg\/mh {
    margin-right: 16px;
    margin-left: 16px; }
  .lg\/mv {
    margin-top: 16px;
    margin-bottom: 16px; }
  .lg\/m-- {
    margin: 4px; }
  .lg\/mt-- {
    margin-top: 4px; }
  .lg\/mr-- {
    margin-right: 4px; }
  .lg\/mb-- {
    margin-bottom: 4px; }
  .lg\/ml-- {
    margin-left: 4px; }
  .lg\/mh-- {
    margin-right: 4px;
    margin-left: 4px; }
  .lg\/mv-- {
    margin-top: 4px;
    margin-bottom: 4px; }
  .lg\/m- {
    margin: 8px; }
  .lg\/mt- {
    margin-top: 8px; }
  .lg\/mr- {
    margin-right: 8px; }
  .lg\/mb- {
    margin-bottom: 8px; }
  .lg\/ml- {
    margin-left: 8px; }
  .lg\/mh- {
    margin-right: 8px;
    margin-left: 8px; }
  .lg\/mv- {
    margin-top: 8px;
    margin-bottom: 8px; }
  .lg\/m\+ {
    margin: 32px; }
  .lg\/mt\+ {
    margin-top: 32px; }
  .lg\/mr\+ {
    margin-right: 32px; }
  .lg\/mb\+ {
    margin-bottom: 32px; }
  .lg\/ml\+ {
    margin-left: 32px; }
  .lg\/mh\+ {
    margin-right: 32px;
    margin-left: 32px; }
  .lg\/mv\+ {
    margin-top: 32px;
    margin-bottom: 32px; }
  .lg\/m\+\+ {
    margin: 48px; }
  .lg\/mt\+\+ {
    margin-top: 48px; }
  .lg\/mr\+\+ {
    margin-right: 48px; }
  .lg\/mb\+\+ {
    margin-bottom: 48px; }
  .lg\/ml\+\+ {
    margin-left: 48px; }
  .lg\/mh\+\+ {
    margin-right: 48px;
    margin-left: 48px; }
  .lg\/mv\+\+ {
    margin-top: 48px;
    margin-bottom: 48px; }
  .lg\/m\+\+\+ {
    margin: 64px; }
  .lg\/mt\+\+\+ {
    margin-top: 64px; }
  .lg\/mr\+\+\+ {
    margin-right: 64px; }
  .lg\/mb\+\+\+ {
    margin-bottom: 64px; }
  .lg\/ml\+\+\+ {
    margin-left: 64px; }
  .lg\/mh\+\+\+ {
    margin-right: 64px;
    margin-left: 64px; }
  .lg\/mv\+\+\+ {
    margin-top: 64px;
    margin-bottom: 64px; }
  .lg\/m0 {
    margin: 0; }
  .lg\/mt0 {
    margin-top: 0; }
  .lg\/mr0 {
    margin-right: 0; }
  .lg\/mb0 {
    margin-bottom: 0; }
  .lg\/ml0 {
    margin-left: 0; }
  .lg\/mh0 {
    margin-right: 0;
    margin-left: 0; }
  .lg\/mv0 {
    margin-top: 0;
    margin-bottom: 0; }
  .lg\/ma {
    margin: auto; }
  .lg\/mta {
    margin-top: auto; }
  .lg\/mra {
    margin-right: auto; }
  .lg\/mba {
    margin-bottom: auto; }
  .lg\/mla {
    margin-left: auto; }
  .lg\/mha {
    margin-right: auto;
    margin-left: auto; }
  .lg\/mva {
    margin-top: auto;
    margin-bottom: auto; }
  .lg\/p {
    padding: 16px; }
  .lg\/pt {
    padding-top: 16px; }
  .lg\/pr {
    padding-right: 16px; }
  .lg\/pb {
    padding-bottom: 16px; }
  .lg\/pl {
    padding-left: 16px; }
  .lg\/ph {
    padding-right: 16px;
    padding-left: 16px; }
  .lg\/pv {
    padding-top: 16px;
    padding-bottom: 16px; }
  .lg\/p-- {
    padding: 4px; }
  .lg\/pt-- {
    padding-top: 4px; }
  .lg\/pr-- {
    padding-right: 4px; }
  .lg\/pb-- {
    padding-bottom: 4px; }
  .lg\/pl-- {
    padding-left: 4px; }
  .lg\/ph-- {
    padding-right: 4px;
    padding-left: 4px; }
  .lg\/pv-- {
    padding-top: 4px;
    padding-bottom: 4px; }
  .lg\/p- {
    padding: 8px; }
  .lg\/pt- {
    padding-top: 8px; }
  .lg\/pr- {
    padding-right: 8px; }
  .lg\/pb- {
    padding-bottom: 8px; }
  .lg\/pl- {
    padding-left: 8px; }
  .lg\/ph- {
    padding-right: 8px;
    padding-left: 8px; }
  .lg\/pv- {
    padding-top: 8px;
    padding-bottom: 8px; }
  .lg\/p\+ {
    padding: 32px; }
  .lg\/pt\+ {
    padding-top: 32px; }
  .lg\/pr\+ {
    padding-right: 32px; }
  .lg\/pb\+ {
    padding-bottom: 32px; }
  .lg\/pl\+ {
    padding-left: 32px; }
  .lg\/ph\+ {
    padding-right: 32px;
    padding-left: 32px; }
  .lg\/pv\+ {
    padding-top: 32px;
    padding-bottom: 32px; }
  .lg\/p\+\+ {
    padding: 48px; }
  .lg\/pt\+\+ {
    padding-top: 48px; }
  .lg\/pr\+\+ {
    padding-right: 48px; }
  .lg\/pb\+\+ {
    padding-bottom: 48px; }
  .lg\/pl\+\+ {
    padding-left: 48px; }
  .lg\/ph\+\+ {
    padding-right: 48px;
    padding-left: 48px; }
  .lg\/pv\+\+ {
    padding-top: 48px;
    padding-bottom: 48px; }
  .lg\/p\+\+\+ {
    padding: 64px; }
  .lg\/pt\+\+\+ {
    padding-top: 64px; }
  .lg\/pr\+\+\+ {
    padding-right: 64px; }
  .lg\/pb\+\+\+ {
    padding-bottom: 64px; }
  .lg\/pl\+\+\+ {
    padding-left: 64px; }
  .lg\/ph\+\+\+ {
    padding-right: 64px;
    padding-left: 64px; }
  .lg\/pv\+\+\+ {
    padding-top: 64px;
    padding-bottom: 64px; }
  .lg\/p0 {
    padding: 0; }
  .lg\/pt0 {
    padding-top: 0; }
  .lg\/pr0 {
    padding-right: 0; }
  .lg\/pb0 {
    padding-bottom: 0; }
  .lg\/pl0 {
    padding-left: 0; }
  .lg\/ph0 {
    padding-right: 0;
    padding-left: 0; }
  .lg\/pv0 {
    padding-top: 0;
    padding-bottom: 0; } }

.sprite__wrapper--partners {
  width: 164px;
  height: 125px;
  background-color: #FFFFFF;
  margin: 3px 1px; }

.sprite__wrapper--clients {
  width: 184px;
  height: 57px;
  margin: 0 20px 25px; }

.sprite__clients, .sprite__partners {
  background: url("/images/sprite.png") no-repeat 0 0;
  display: inline-block; }

.sprite__clients {
  width: 184px;
  height: 57px; }
  .sprite__clients--meliuz {
    background-position: 0 0; }
  .sprite__clients--worldsense {
    background-position: 0 -57px; }
  .sprite__clients--pelando {
    background-position: 0 -114px; }
  .sprite__clients--cuponomize {
    background-position: 0 -171px; }
  .sprite__clients--vida-desconto {
    background-position: 0 -228px; }
  .sprite__clients--uai-desconto {
    background-position: 0 -285px; }
  .sprite__clients--melhor {
    background-position: 0 -342px; }
  .sprite__clients--1001 {
    background-position: 0 -399px; }

.sprite__partners {
  width: 128px;
  height: 77px;
  margin-top: 24px; }
  .sprite__partners--submarino {
    background-position: -28px -1074px; }
  .sprite__partners--zattini {
    background-position: -28px -920px; }
  .sprite__partners--azul {
    background-position: -28px -843px; }
  .sprite__partners--walmart {
    background-position: -28px -612px; }
  .sprite__partners--americanas {
    background-position: -28px -689px; }
  .sprite__partners--mluiza {
    background-position: -28px -1151px; }
  .sprite__partners--sephora {
    background-position: -28px -1305px; }
  .sprite__partners--aliexpress {
    background-position: -28px -1228px; }
  .sprite__partners--belezaweb {
    background-position: -28px -997px; }
  .sprite__partners--extra {
    background-position: -28px -766px; }
  .sprite__partners--pontofrio {
    background-position: -28px -535px; }
  .sprite__partners--natura {
    background-position: -28px -458px; }

.text--title {
  font-size: 34px;
  font-weight: 300; }

.text--subtitle, .text--big {
  font-size: 24px;
  font-weight: 300; }

.text--caption {
  font-size: 16px; }

.text--gray {
  color: #474747; }

.text--white {
  color: #FFFFFF; }

.text--gray-lighter {
  color: #c2c2c2; }

.text--purple {
  color: #695AC0; }

.text--blue-lighter {
  color: #EBF7FC; }

.text--blue-dark {
  color: #335E7D; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .text--title {
    font-size: 20px;
    font-weight: 400; }
  .text--subtitle {
    font-size: 16px; } }

@media screen and (max-width: 767px) {
  .text--title {
    font-size: 20px;
    font-weight: 400; }
  .text--subtitle {
    font-size: 16px; } }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.text--small {
  font-size: 14px; }

.text--xsmall {
  font-size: 12px; }

@media screen and (max-width: 767px) {
  .xs\/text--left {
    text-align: left; }
  .xs\/text--right {
    text-align: right; }
  .xs\/text--center {
    text-align: center; }
  .xs\/text--small {
    font-size: 14px; }
  .xs\/text--xsmall {
    font-size: 12px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/text--left {
    text-align: left; }
  .sm\/text--right {
    text-align: right; }
  .sm\/text--center {
    text-align: center; }
  .sm\/text--small {
    font-size: 14px; }
  .sm\/text--xsmall {
    font-size: 12px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/text--left {
    text-align: left; }
  .md\/text--right {
    text-align: right; }
  .md\/text--center {
    text-align: center; }
  .md\/text--small {
    font-size: 14px; }
  .md\/text--xsmall {
    font-size: 12px; } }

@media screen and (min-width: 1200px) {
  .lg\/text--left {
    text-align: left; }
  .lg\/text--right {
    text-align: right; }
  .lg\/text--center {
    text-align: center; }
  .lg\/text--small {
    font-size: 14px; }
  .lg\/text--xsmall {
    font-size: 12px; } }

.timeline {
  position: relative;
  padding: 52px 0; }
  .timeline__header {
    max-width: 700px;
    width: 100%;
    margin: auto; }
  .timeline__ball, .timeline__line {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .timeline__ball {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #887ADA; }
  .timeline__line {
    width: 1px;
    background-color: #D0CCE9; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .timeline {
    padding: 0; } }

@media screen and (max-width: 767px) {
  .timeline {
    padding: 0; } }

.waves {
  background-repeat: repeat-x;
  height: 16px; }
  .waves--gray {
    background-image: url("./../images/wave.png"); }
  .waves--white {
    background-image: url("./../images/wave-white.png"); }

.va--middle {
  vertical-align: middle; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.d-i {
  display: inline; }

.d-tb {
  display: table; }

.d-tbr {
  display: table-row; }

.d-tbcl {
  display: table-column; }

.d-tbc {
  display: table-cell; }

.d-n {
  display: none; }

@media screen and (max-width: 767px) {
  .xs\/d-b {
    display: block; }
  .xs\/d-ib {
    display: inline-block; }
  .xs\/d-i {
    display: inline; }
  .xs\/d-tb {
    display: table; }
  .xs\/d-tbr {
    display: table-row; }
  .xs\/d-tbcl {
    display: table-column; }
  .xs\/d-tbc {
    display: table-cell; }
  .xs\/d-n {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/d-b {
    display: block; }
  .sm\/d-ib {
    display: inline-block; }
  .sm\/d-i {
    display: inline; }
  .sm\/d-tb {
    display: table; }
  .sm\/d-tbr {
    display: table-row; }
  .sm\/d-tbcl {
    display: table-column; }
  .sm\/d-tbc {
    display: table-cell; }
  .sm\/d-n {
    display: none; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/d-b {
    display: block; }
  .md\/d-ib {
    display: inline-block; }
  .md\/d-i {
    display: inline; }
  .md\/d-tb {
    display: table; }
  .md\/d-tbr {
    display: table-row; }
  .md\/d-tbcl {
    display: table-column; }
  .md\/d-tbc {
    display: table-cell; }
  .md\/d-n {
    display: none; } }

@media screen and (min-width: 1200px) {
  .lg\/d-b {
    display: block; }
  .lg\/d-ib {
    display: inline-block; }
  .lg\/d-i {
    display: inline; }
  .lg\/d-tb {
    display: table; }
  .lg\/d-tbr {
    display: table-row; }
  .lg\/d-tbcl {
    display: table-column; }
  .lg\/d-tbc {
    display: table-cell; }
  .lg\/d-n {
    display: none; } }
