.page{
	background-color: white;
	font-family: "FuturaStd-Book";
}

.container {
	width: 1124px;
	margin: 0 auto;
}

.banner{
	background-color: #887ADA;
	color: white;
	padding: 0;
}

	.banner--text{
		width: 436px;
		margin-right: 32px;
		font-family: "FuturaStd-Light";
		padding-top: 68px;
	}

	.banner--title {
		font-size: 45px;
		font-weight: lighter;
		line-height: 54px;
		margin-bottom: 32px;
	}

	.banner--p{
		font-size: 18px;
		margin-bottom: 48px;
		font-weight: lighter;
		line-height: 30px;	
	}

.site-nav{
	display: block;
	padding: 24px 0px;
}

	.site-nav--item{
		display: inline-block;
	}


.float__right {
	float: right;
}

.float__left {
	float: left;
}

.margin__left{
	margin-left: 8px;
}

.margin__right{
	margin-right: 8px;
}

.margin__bottom{
	margin-bottom: 8px;
}

.margin__top{
	margin-top: 8px;
}

.margin__center{
	display: block;
	margin: 0 auto;
}

.margin__bottom--big{
	margin-bottom: 24px;
}


.btn {
	border-radius: 50px;
	border: 1px solid #000;
	padding: 8px 32px ;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	font-family: "FuturaStd-Light";
}

	.btn__colored {
		background-color: #5CCFE6;
		border-color: #5CCFE6;
		color: white;
	}

		.btn__colored:hover {
			background-color: #14A7C5;
			border-color: #14A7C5;
			color: white;
		}


	.btn__white {
		background-color: white;
		border-color: #5CCFE6;
		color: #5CCFE6;
	}

		.btn__white:hover {
			background-color: #5CCFE6;
			border-color: #5CCFE6;
			color: white;
		}

	.btn__large {
		padding: 12px 32px;
		font-size: 16px
	}

	.btn__xlarge {
		padding: 16px 48px;
		font-size: 24px
	}

	.btn__transparent{
		background-color: transparent;
		border-color: white;
		color: white;
	}

		.btn__transparent:hover{
			background-color: white;
			border-color: white;
			color: #887ADA;
		}

	.btn__purple{
		background-color: #887ADA;
		border-color: white;
		color: white;
	}

		.btn__purple:hover{
			background-color: white;
			border-color: #887ADA;
			color: #887ADA;
		}




.title {
	color: #695AC0;
	font-family: "FuturaStd-Light";
	font-weight: lighter;
	font-size: 34px;
	line-height: 48px;
}

.know-it {
	padding-top: 56px;
	padding-bottom: 72px;
}
	.know-it--item{
		padding: 40px 0;
		position: relative;
	}

	.know-it--item__gray{
		background-color: #F1F0F5;
	}

	.know-it--col{
		width: 519px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 20px
	}

	.know-it--col img{
		display: block;
		margin: 0 auto;
	}

	.know-it--h2 {
		color: #695AC0;
		font-size: 16px;
		font-weight: lighter;
		text-align: center;
		margin-bottom: 8px;
	}

	.know-it--container{
		position: relative; 
	}

	.know-it--line {
		width: 0px;
		height: 100%;
		border-left: 1px solid #D0CCE9;
		position: absolute;
		left: 50%;
		right: 50%;
	}

	.know-it--signup {
	}

	.know-it--ball {
		border-radius: 50%;
		width: 24px;
		height: 24px;
		background-color: #887ADA;
	}

	.know-it--ball__center {
		position: absolute;
		left: 550px;
		bottom: 50%;
		top: 50%;
	}

	.know-it--ball__margin {
		margin: 0 auto;
		margin-bottom: 24px;
	}


.padding-bottom__24{
	padding-bottom: 24px;
}

.text__left{
	text-align: left;
}

.text__right{
	text-align: right;
}

.text__center{
	text-align: center;
}

.text__description{
	color: #7a7a7a;
	line-height: 30px;
	font-size: 16px;
}

.text__sub-title{
	color: #335E7D;
	font-size: 16px;
	font-family: "FuturaStd-Book";
	font-weight: lighter;
}

.text__small{
	color: #335E7D;
	font-size: 14px;
	font-family: "FuturaStd-Book";
	font-weight: lighter;
	line-height: 24px;
}

.how-works{
	padding-top: 72px;
	padding-bottom: 72px;
	background-color: #EBF7FC;
}


.how-works--col{
	width: 342px;
	display: inline-block;
	padding: 0 16px;
	text-align:center;
}

.circle--icon{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border:1px solid #D1ECF8;
	background-color: white;
}
 

.partners {
	padding-bottom: 72px;

}


.comments {
	padding-top: 72px;
	padding-bottom: 72px;
}

.comments--col {
	width: 342px;
	display: inline-block;
	padding: 0 8px;
	margin: 0 8px;
	text-align:center;
}

.comments--text {
	color: #335E7D;
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
}

	.comments--text__gray{
		color: #999;
		font-size: 16px;
		margin-bottom: 8px;
	}

		.comments--text__small{
			font-size: 14px;
		}

.sprite-store {
	background: url('images/sprite.png') no-repeat 0 0;
	width: 128px;
	height: 77px;

	display: inline-block;
	float: left;
	margin-left: 24px;

}

.sprite-store--submarino {
	background-position: 0 0;
}

.sprite-store--zattini {
	background-position: -160px 0;
}

.sprite-store--azul {
	background-position: -320px 0;
}

.sprite-store--walmart {
	background-position: -480px 0;
}

.sprite-store--americanas {
	background-position: -640px 0;
}

.sprite-store--mluiza {
	background-position: -800px 0;
}

.sprite-store--sephora {
	background-position: -964px 0;
}


.sprite-store--aliexpress {
	background-position: 0 -104px;
}

.sprite-store--belezaweb {
	background-position: -160px -104px;
}

.sprite-store--extra {
	background-position: -320px -104px;
}

.sprite-store--pontofrio {
	background-position: -480px -104px;
}

.sprite-store--natue {
	background-position: -640px -104px;
}

.sprite-store--natura {
	background-position: -800px -104px;
}

.sprite-store--bahia {
	background-position: -964px -104px;
}

.clear__left {
	clear: left;
}

.form{
	background-color: #EBF7FC;
	padding-top: 72px;
	padding-bottom: 72px;
}

	.form--input-text, .form--textarea {
		font-size: 16px;
		color: #695AC0;
		padding: 20px 0;
		border-radius: 4px;
		border: none;
		width: 296px;
		margin-bottom: 16px;
	}

	.form--input-text::-webkit-input-placeholder,
	.form--textarea::-webkit-input-placeholder {
   		color: #695AC0;
	}

	.form--input-text:-moz-placeholder {
	   color: #695AC0;
	}

	.form--input-text::-moz-placeholder {
	   color: #695AC0;
	}

	.form--input-text:-ms-input-placeholder {  
	   color: #695AC0;
	}

	.form--input-text-icon,
	.form--textarea-icon {
		display: inline-block;
		background-color: white;
		width: 56px;
		height: 58px;
	}

	.form--textarea-icon {
		height: 160px;
	}

	.form--textarea {
		width: 664px;
		height: 120px;
	}

	.form--input__prepend > *:first-child {
		border-radius: 4px 0px 0px  4px;
		float: left;
	}

	.form--input__prepend > *:last-child{
		border-radius: 0px 4px 4px  0px;
	}

	.form form{
		margin: 0 auto;
		width: 720px;
	}

	.form--btn{
		width: 720px;
		border-radius: 4px;
		font-size: 20px;
		padding: 16px 0;
	}

	.footer {
		vertical-align: middle;
		padding-top: 32px;
		background-color: #9CD7E9;
	}

	.footer__wave {
		background-image: url("images/wave.jpg");
		width: 100%;
		height: 57px;
		display: block;
	}

	.footer img {
		vertical-align: middle;
	}

	.footer ul{
		float: right;
	}

		.footer ul li{
			display: inline;
			text-align: right;
	
		}

		.footer ul li a{
			margin: 0 5px;
			text-align: right;
			color: #335E7D;
			font-size: 14px;
			font-family: "FuturaStd-Book";
			font-weight: lighter;
			line-height: 24px;
			text-decoration: none;
		}

		.footer--links {
			padding-bottom: 72px;
		}

.rights {
	background-color: white;
	float: right;
	display: inline;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}