@font-face {
	font-family: "FuturaStd";
	font-weight: 400;
	src: url("fonte/FuturaStd-Book.otf");
}

@font-face {
	font-family: "FuturaStd";
	font-weight: 100;
	src: url("fonte/FuturaStd-Light.otf");
}
