* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #7A7A7A;
  background-color: white; }

.banner {
  background-color: #887ADA;
  color: white;
  padding: 0;
  overflow: hidden; }
  .banner--text {
    width: 436px;
    padding-top: 68px; }
  .banner--title {
    font-size: 45px;
    font-weight: lighter;
    line-height: 54px;
    margin-bottom: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6); }
  .banner--p {
    font-size: 18px;
    margin-bottom: 48px;
    font-weight: lighter;
    line-height: 30px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner--title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 24px; } }
@media screen and (max-width: 767px) {
  .banner--title {
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 24px; } }
.bg--gray {
  background-color: #474747; }
.bg--gray-lighter {
  background-color: #999999; }
.bg--blue-lighter {
  background-color: #EBF7FC; }
.bg--purple-lighter {
  background-color: #F1F0F5; }
.bg--purple-light {
  background-color: #887ADA; }

.btn {
  border-radius: 50px;
  border: 1px solid #000;
  padding: 8px 32px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
  text-align: center; }
  .btn--colored {
    background-color: #3CB7EB;
    border-color: #3CB7EB;
    color: white; }
    .btn--colored:hover {
      background-color: #335E7D;
      border-color: #335E7D;
      color: white; }
  .btn--white {
    background-color: white;
    border-color: #3CB7EB;
    color: #3CB7EB; }
    .btn--white:hover {
      background-color: #3CB7EB;
      border-color: #3CB7EB;
      color: white; }
  .btn--transparent {
    background-color: transparent;
    border-color: white;
    color: white; }
    .btn--transparent:hover {
      background-color: white;
      border-color: white;
      color: #695AC0; }
  .btn--purple {
    background-color: #695AC0;
    border-color: white;
    color: white; }
    .btn--purple:hover {
      background-color: transparent;
      border-color: #695AC0;
      color: #695AC0; }
  .btn--large {
    padding: 12px 32px;
    font-size: 16px; }
  .btn--xlarge {
    padding: 16px 48px;
    font-size: 24px; }
  .btn--block {
    display: block; }

.circle--icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #D1ECF8;
  background-color: white;
  position: relative; }
  .circle--icon:hover {
    transition: transform .3s ease-out;
    transform: scale(1.15); }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }
  @media screen and (max-width: 991px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1220px;
      padding-right: 48px;
      padding-left: 48px;
      width: auto; } }

.footer {
  font-size: 14px; }
  .footer__list {
    display: inline-block;
    vertical-align: sub; }
  .footer__list-item {
    display: inline; }
  .footer__link {
    font-size: inherit;
    font-weight: 200;
    margin: 0 10px; }
    .footer__link, .footer__link:link, .footer__link:visited {
      color: #fff;
      text-decoration: none; }
    .footer__link:active, .footer__link:focus {
      color: #fff; }
    .footer__link:hover {
      color: #887ADA; }
  .footer__rights {
    font-size: inherit;
    margin: 40px auto; }

.form {
  max-width: 700px;
  margin: 0 auto; }

.grid {
  margin-left: -32px; }

.grid__col {
  padding-left: 32px;
  display: inline-block;
  vertical-align: top; }

.grid.grid--large {
  margin-left: -64px; }

.grid.grid--large > .grid__col {
  padding-left: 64px; }

.grid__col--4 {
  width: 33.3333333%; }
.grid__col--6 {
  width: 50%; }
.grid__col--12 {
  width: 100%; }

.grid.grid--middle > .grid__col {
  vertical-align: middle; }

.grid.grid--bottom > .grid__col {
  vertical-align: bottom; }

@media screen and (max-width: 767px) {
  .xs\/grid__col--4 {
    width: 33.3333333%; }
  .xs\/grid__col--6 {
    width: 50%; }
  .xs\/grid__col--12 {
    width: 100%; }

  .grid.xs\/grid--middle > .grid__col {
    vertical-align: middle; }

  .grid.xs\/grid--bottom > .grid__col {
    vertical-align: bottom; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/grid__col--4 {
    width: 33.3333333%; }
  .sm\/grid__col--6 {
    width: 50%; }
  .sm\/grid__col--12 {
    width: 100%; }

  .grid.sm\/grid--middle > .grid__col {
    vertical-align: middle; }

  .grid.sm\/grid--bottom > .grid__col {
    vertical-align: bottom; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/grid__col--4 {
    width: 33.3333333%; }
  .md\/grid__col--6 {
    width: 50%; }
  .md\/grid__col--12 {
    width: 100%; }

  .grid.md\/grid--middle > .grid__col {
    vertical-align: middle; }

  .grid.md\/grid--bottom > .grid__col {
    vertical-align: bottom; } }
@media screen and (min-width: 1200px) {
  .lg\/grid__col--4 {
    width: 33.3333333%; }
  .lg\/grid__col--6 {
    width: 50%; }
  .lg\/grid__col--12 {
    width: 100%; }

  .grid.lg\/grid--middle > .grid__col {
    vertical-align: middle; }

  .grid.lg\/grid--bottom > .grid__col {
    vertical-align: bottom; } }
.icon--medium {
  width: 36px;
  height: 36px; }
.icon--small {
  width: 24px;
  height: 24px; }
.icon--xsmall {
  width: 16px;
  height: 16px; }
.icon--spaced {
  margin: 22px; }
.icon--purple {
  fill: #887ADA; }
.icon--blue {
  fill: #3CB7EB; }
.icon--blue-lighter {
  fill: #ccebf7; }
.icon--gray-lighter {
  fill: #999999; }

@media screen and (max-width: 767px) {
  .xs\/icon--purple {
    fill: #695AC0; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/icon--purple {
    fill: #695AC0; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/icon--purple {
    fill: #695AC0; } }
@media screen and (min-width: 1200px) {
  .lg\/icon--purple {
    fill: #695AC0; } }
.input {
  position: relative; }
  .input > .input__field {
    font-size: 16px;
    line-height: 1.5;
    color: #695AC0;
    padding: 16px 16px 16px 55px;
    border-radius: 4px;
    border: none;
    width: 100%; }
  .input > textarea.input__field {
    resize: none; }
  .input > .input__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px; }
  .input ::-webkit-input-placeholder {
    color: inherit; }
  .input :-ms-input-placeholder {
    color: inherit; }
  .input ::-moz-placeholder {
    color: inherit; }
  .input :-moz-placeholder {
    color: inherit; }

.list--inline {
  display: block; }
  .list--inline > li {
    display: inline-block; }

.quote {
  border-radius: 4px;
  position: relative; }
  .quote:after {
    border-color: transparent;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 14px 15px 0px;
    z-index: 1;
    bottom: -14px;
    margin-left: -15px; }
  .quote--purple-lighter {
    background-color: #F1F0F5; }
    .quote--purple-lighter:after {
      border-color: #F1F0F5 transparent; }

@media screen and (max-width: 767px) {
  .xs\/quote--purple-lighter {
    background-color: #F1F0F5; }
    .xs\/quote--purple-lighter:after {
      border-color: #F1F0F5 transparent; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/quote--purple-lighter {
    background-color: #F1F0F5; }
    .sm\/quote--purple-lighter:after {
      border-color: #F1F0F5 transparent; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/quote--purple-lighter {
    background-color: #F1F0F5; }
    .md\/quote--purple-lighter:after {
      border-color: #F1F0F5 transparent; } }
@media screen and (min-width: 1200px) {
  .lg\/quote--purple-lighter {
    background-color: #F1F0F5; }
    .lg\/quote--purple-lighter:after {
      border-color: #F1F0F5 transparent; } }
.p {
  padding: 8px; }

.p\+ {
  padding: 16px; }

.p\+\+ {
  padding: 24px; }

.p\+\+\+ {
  padding: 60px; }

.pr\+\+\+ {
  padding-right: 60px; }

.pl\+\+\+ {
  padding-left: 60px; }

.pt {
  padding-top: 8px; }

.pt\+ {
  padding-top: 16px; }

.pt\+\+ {
  padding-top: 24px; }

.pt\+\+\+ {
  padding-top: 60px; }

.pb {
  padding-bottom: 8px; }

.pb\+ {
  padding-bottom: 16px; }

.pb\+\+ {
  padding-bottom: 24px; }

.pb\+\+\+ {
  padding-bottom: 60px; }

.ml {
  margin-left: 8px; }

.mr {
  margin-right: 8px; }

.mb {
  margin-bottom: 8px; }

.mb\+ {
  margin-bottom: 16px; }

.mb\+\+ {
  margin-bottom: 24px; }

.mb\+\+\+ {
  margin-bottom: 60px; }

.mb\+\+\+\+ {
  margin-bottom: 120px; }

.mt {
  margin-top: 8px; }

.mt\+ {
  margin-top: 16px; }

.mt\+\+ {
  margin-top: 24px; }

.mha {
  margin-left: auto;
  margin-right: auto; }

.xs\/p0 {
  padding: 0; }

.sprite-store {
  background: url("images/sprite.png") no-repeat 0 0;
  width: 128px;
  height: 77px;
  display: inline-block;
  margin-left: 24px; }

.sprite-store--submarino {
  background-position: 0 0; }

.sprite-store--zattini {
  background-position: -160px 0; }

.sprite-store--azul {
  background-position: -320px 0; }

.sprite-store--walmart {
  background-position: -480px 0; }

.sprite-store--americanas {
  background-position: -640px 0; }

.sprite-store--mluiza {
  background-position: -800px 0; }

.sprite-store--sephora {
  background-position: -964px 0; }

.sprite-store--aliexpress {
  background-position: 0 -104px; }

.sprite-store--belezaweb {
  background-position: -160px -104px; }

.sprite-store--extra {
  background-position: -320px -104px; }

.sprite-store--pontofrio {
  background-position: -480px -104px; }

.sprite-store--natue {
  background-position: -640px -104px; }

.sprite-store--natura {
  background-position: -800px -104px; }

.sprite-store--bahia {
  background-position: -964px -104px; }

.text--title {
  font-size: 34px;
  font-weight: 300; }
.text--subtitle {
  font-weight: 400; }
.text--with-lines {
  overflow: hidden;
  text-align: center; }
  .text--with-lines:before, .text--with-lines:after {
    background-color: #e1def6;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  .text--with-lines:before {
    right: 25px;
    margin-left: -50%; }
  .text--with-lines:after {
    left: 25px;
    margin-right: -50%; }
.text--detail {
  font-size: 14px; }
.text--gray {
  color: #474747; }
.text--gray-lighter {
  color: #c2c2c2; }
.text--purple {
  color: #695AC0; }
.text--blue-dark {
  color: #335E7D; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .text--title {
    font-size: 20px;
    font-weight: 400; } }
@media screen and (max-width: 767px) {
  .text--title {
    font-size: 20px;
    font-weight: 400; } }
.text--left {
  text-align: left; }
.text--right {
  text-align: right; }
.text--center {
  text-align: center; }

@media screen and (max-width: 767px) {
  .xs\/text--left {
    text-align: left; }
  .xs\/text--right {
    text-align: right; }
  .xs\/text--center {
    text-align: center; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/text--left {
    text-align: left; }
  .sm\/text--right {
    text-align: right; }
  .sm\/text--center {
    text-align: center; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/text--left {
    text-align: left; }
  .md\/text--right {
    text-align: right; }
  .md\/text--center {
    text-align: center; } }
@media screen and (min-width: 1200px) {
  .lg\/text--left {
    text-align: left; }
  .lg\/text--right {
    text-align: right; }
  .lg\/text--center {
    text-align: center; } }
.timeline {
  position: relative;
  padding: 52px 0; }
  .timeline__ball, .timeline__line {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .timeline__ball {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #887ADA; }
  .timeline__line {
    width: 1px;
    background-color: #D0CCE9; }
  .timeline--end > .timeline__ball {
    top: auto; }

.float--right {
  float: right; }

.d-b {
  display: block; }
.d-ib {
  display: inline-block; }
.d-i {
  display: inline; }
.d-tb {
  display: table; }
.d-tbr {
  display: table-row; }
.d-tbcl {
  display: table-column; }
.d-tbc {
  display: table-cell; }
.d-n {
  display: none; }

@media screen and (max-width: 767px) {
  .xs\/d-b {
    display: block; }
  .xs\/d-ib {
    display: inline-block; }
  .xs\/d-i {
    display: inline; }
  .xs\/d-tb {
    display: table; }
  .xs\/d-tbr {
    display: table-row; }
  .xs\/d-tbcl {
    display: table-column; }
  .xs\/d-tbc {
    display: table-cell; }
  .xs\/d-n {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm\/d-b {
    display: block; }
  .sm\/d-ib {
    display: inline-block; }
  .sm\/d-i {
    display: inline; }
  .sm\/d-tb {
    display: table; }
  .sm\/d-tbr {
    display: table-row; }
  .sm\/d-tbcl {
    display: table-column; }
  .sm\/d-tbc {
    display: table-cell; }
  .sm\/d-n {
    display: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .md\/d-b {
    display: block; }
  .md\/d-ib {
    display: inline-block; }
  .md\/d-i {
    display: inline; }
  .md\/d-tb {
    display: table; }
  .md\/d-tbr {
    display: table-row; }
  .md\/d-tbcl {
    display: table-column; }
  .md\/d-tbc {
    display: table-cell; }
  .md\/d-n {
    display: none; } }
@media screen and (min-width: 1200px) {
  .lg\/d-b {
    display: block; }
  .lg\/d-ib {
    display: inline-block; }
  .lg\/d-i {
    display: inline; }
  .lg\/d-tb {
    display: table; }
  .lg\/d-tbr {
    display: table-row; }
  .lg\/d-tbcl {
    display: table-column; }
  .lg\/d-tbc {
    display: table-cell; }
  .lg\/d-n {
    display: none; } }

/*# sourceMappingURL=style.css.map */
