.btn {
    border-radius: 50px;
    border: 1px solid #000;
    padding: 8px 32px ;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font-weight: 100;
    text-align: center;

    &--colored {
        background-color: $blue;
        border-color: $blue;
        color: white;

        &:hover {
            background-color: $blue-dark;
            border-color: $blue-dark;
            color: white;
        }
    }

    &--white {
        background-color: white;
        border-color: $blue;
        color: $blue;

        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: white;
        }
    }

    &--transparent{
        background-color: transparent;
        border-color: white;
        color: white;

        &:hover{
            background-color: white;
            border-color: white;
            color: $purple;
        }
    }

    &--purple{
        background-color: $purple;
        border-color: white;
        color: white;

        &:hover{
            background-color: transparent;
            border-color: $purple;
            color: $purple;
        }
    }

    &--large {
        padding: 12px 32px;
        font-size: 16px
    }

    &--xlarge {
        padding: 16px 48px;
        font-size: 24px
    }

    &--block {
        display: block;
    }
}
