.footer {
    font-size: 14px;

    &__list {
        display: inline-block;
        vertical-align: sub;
    }

    &__list-item {
        display: inline;
    }

    &__link {
        font-size: inherit;
        font-weight: 200;
        margin: 0 10px;

        &,
        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
        }

        &:active,
        &:focus {
            color: #fff;
        }

        &:hover {
            color: $purple-light;
        }
    }

    &__rights {
        font-size: inherit;
        margin: 40px auto;
    }
}
