.explore {
    position: relative;

    &__bg {
        width: 100%;
        top: 0;
        position: absolute;
        height: 550px;

        @media(screen and max-width: $screen-sm-min) {
            height: 350px;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
    }
}

.slider {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 20px 38px -10px #D8D8D8;

    &__browser {
        display: block;
        width: 100%;
    }

    &__dots {
        text-align: center;
        margin-bottom: 24px;

        & .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #fff;
            opacity: 1;
            margin: 0 5px;
        }

        & .swiper-pagination-bullet-active {
            background-color: $blue;
        }
    }
}
