.circle {
    &--icon{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border:1px solid $purple-lighter;
        background-color: white;
        position: relative;

        &:hover {
            transition: transform .3s ease-out;
            transform: scale(1.15);
        }
    }
}
