.sprite {
    &__wrapper {
        &--partners {
            width: 164px;
            height: 125px;
            background-color: $white;
            margin: 3px 1px;
        }

        &--clients {
            width: 184px;
            height: 57px;
            margin: 0 20px 25px;
        }
    }

    &__clients,
    &__partners {
        background: url('/images/sprite.png') no-repeat 0 0;
        display: inline-block;
    }

    &__clients {
        width: 184px;
        height: 57px;

        &--meliuz {
            background-position: 0 0;
        }
        &--worldsense {
            background-position: 0 -57px;
        }
        &--pelando {
            background-position: 0 -114px;
        }
        &--cuponomize {
            background-position: 0 -171px;
        }
        &--vida-desconto {
            background-position: 0 -228px;
        }
        &--uai-desconto {
            background-position: 0 -285px;
        }
        &--melhor {
            background-position: 0 -342px;
        }
        &--1001 {
            background-position: 0 -399px;
        }
    }

    &__partners {
        width: 128px;
        height: 77px;
        margin-top: 24px;

        &--submarino {
            background-position: -28px -1074px;
        }

        &--zattini {
            background-position: -28px -920px;
        }

        &--azul {
            background-position: -28px -843px;
        }

        &--walmart {
            background-position: -28px -612px;
        }

        &--americanas {
            background-position: -28px -689px;
        }

        &--mluiza {
            background-position: -28px -1151px;
        }

        &--sephora {
            background-position: -28px -1305px;
        }

        &--aliexpress {
            background-position: -28px -1228px;
        }

        &--belezaweb {
            background-position: -28px -997px;
        }

        &--extra {
            background-position: -28px -766px;
        }

        &--pontofrio {
            background-position: -28px -535px;
        }

        &--natura {
            background-position: -28px -458px;
        }
    }

}
