.text {
    &--title {
        font-size: 34px;
        font-weight: 300;
    }

    &--subtitle,
    &--big {
        font-size: 24px;
        font-weight: 300;
    }

    &--caption {
        font-size: 16px;
    }

    &--gray {
        color: $gray;
    }

    &--white {
        color: $white;
    }

    &--gray-lighter {
        color: lighten($gray-lighter, 16%);
    }

    &--purple {
        color: $purple;
    }

    &--blue-lighter {
        color: $blue-lighter;
    }

    &--blue-dark {
        color: $blue-dark;
    }
}

@include media-query('sm') {
    .text {
        &--title {
            font-size: 20px;
            font-weight: 400;
        }

        &--subtitle {
            font-size: 16px;
        }
    }
}

@include media-query('xs') {
    .text {
        &--title {
            font-size: 20px;
            font-weight: 400;
        }

        &--subtitle {
            font-size: 16px;
        }
    }
}

@mixin text($widths-breakpoint: null) {
    .#{$widths-breakpoint}text {
        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }

        &--center {
            text-align: center;
        }

        &--small {
            font-size: 14px;
        }

        &--xsmall {
            font-size: 12px;
        }
    }
}

@include text();

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
    @include text(#{$alias}\/);
  }
}
