.bg {
    &--gray {
        background-color: $gray;
    }

    &--gray-lighter {
        background-color: $gray-lighter;
    }

    &--blue-light {
        background-color: $blue-light;
    }

    &--blue-lighter {
        background-color: $blue-lighter;
    }

    &--purple-lighter {
        background-color: $purple-lighter;
    }

    &--purple-light {
        background-color: $purple-light;
    }
}
