@mixin display-helper($widths-breakpoint: null) {
    .#{$widths-breakpoint}d {
        &-b {
            display: block;
        }

        &-ib {
            display: inline-block;
        }

        &-i {
            display: inline;
        }

        &-tb {
            display: table;
        }

        &-tbr {
            display: table-row;
        }

        &-tbcl {
            display: table-column;
        }

        &-tbc {
            display: table-cell;
        }

        &-n {
            display: none;
        }
    }
}

@include display-helper();

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
      @include display-helper(#{$alias}\/);
  }
}
