.quote {
    border-radius: 4px;
    position: relative;

    &:after {
        border-color: transparent;
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 14px 15px 0px;
        z-index: 1;
        bottom: -14px;
        margin-left: -15px;
    }

    &--purple-lighter {
        background-color: $purple-lighter;

        &:after {
            border-color: $purple-lighter transparent;
        }
    }
}

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
    .#{$alias}\/quote {

        &--purple-lighter {
            background-color: $purple-lighter;

            &:after {
                border-color: $purple-lighter transparent;
            }
        }
    }
  }
}
