.pr\+\+\+ {
    padding-right: 60px;
}

.pl\+\+\+ {
    padding-left: 60px;
}

.pt {
    padding-top: 8px;
}

.pt\+ {
    padding-top: 16px;
}

.pt\+\+\+ {
    padding-top: 60px;
}

.pb {
    padding-bottom: 8px;
}

.pb\+ {
    padding-bottom: 16px;
}

.pb\+\+{
    padding-bottom: 24px;
}

.pb\+\+\+ {
    padding-bottom: 60px;
}

.ml{
    margin-left: 8px;
}

.mr{
    margin-right: 8px;
}

.mb {
    margin-bottom: 8px;
}

.mb\+ {
    margin-bottom: 16px;
}

.mb\+\+ {
    margin-bottom: 24px;
}

.mb\+\+\+ {
    margin-bottom: 60px;
}

.mt{
    margin-top: 8px;
}

.mha{
    margin-left: auto;
    margin-right: auto;
}