.sprite-store {
    background: url('/images/sprite.png') no-repeat 0 0;
    width: 128px;
    height: 77px;

    display: inline-block;
    margin-left: 24px;
}

.sprite-store--submarino {
    background-position: 0 0;
}

.sprite-store--zattini {
    background-position: -160px 0;
}

.sprite-store--azul {
    background-position: -320px 0;
}

.sprite-store--walmart {
    background-position: -480px 0;
}

.sprite-store--americanas {
    background-position: -640px 0;
}

.sprite-store--mluiza {
    background-position: -800px 0;
}

.sprite-store--sephora {
    background-position: -964px 0;
}


.sprite-store--aliexpress {
    background-position: 0 -104px;
}

.sprite-store--belezaweb {
    background-position: -160px -104px;
}

.sprite-store--extra {
    background-position: -320px -104px;
}

.sprite-store--pontofrio {
    background-position: -480px -104px;
}

.sprite-store--natue {
    background-position: -640px -104px;
}

.sprite-store--natura {
    background-position: -800px -104px;
}

.sprite-store--bahia {
    background-position: -964px -104px;
}
