.text {
    &--title {
        font-size: 34px;
        font-weight: 300;
    }

    &--subtitle {
        font-weight: 400;
    }

    &--with-lines {
        overflow: hidden;
        text-align: center;

        &:before,
        &:after {
            background-color: lighten($purple-light, 25%);
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }

        &:before {
            right: 25px;
            margin-left: -50%;
        }

        &:after {
            left: 25px;
            margin-right: -50%;
        }
    }

    &--detail {
        font-size: 14px;
    }

    &--gray {
        color: $gray;
    }

    &--gray-lighter {
        color: lighten($gray-lighter, 16%);
    }

    &--purple {
        color: $purple;
    }

    &--blue-dark {
        color: $blue-dark;
    }
}

@include media-query('sm') {
    .text {
        &--title {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

@include media-query('xs') {
    .text {
        &--title {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

@mixin text($widths-breakpoint: null) {
    .#{$widths-breakpoint}text {
        &--left {
            text-align: left;
        }

        &--right{
            text-align: right;
        }

        &--center{
            text-align: center;
        }
    }
}

@include text();

@each $breakpoint in $breakpoints {

  // Get the name of the breakpoint.
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
      @include text(#{$alias}\/);
  }
}
